# Visual Studio
.vs/
*.user
*.suo
*.cache

# Build outputs
bin/
obj/
Debug/
Release/

# NuGet packages
packages/
*.nupkg
project.lock.json
project.assets.json
*.nuspec


# Logs
*.log

# User-specific files
*.sln.docstates
*.userprefs
*.packages.config
*.Web.config

# Rider or VS Code
.idea/
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# DotCover, Coverage, Test results
*.dotCover
coverage*.*
TestResult*/
